<div class='span12' style='margin:0px'>
<ul  class="thumbnails" >
	<li class='product_img'>
	    <div class='thumbnail'>
		<%img = image_tag("amla-candy-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption'>Awala Candy</div>
	    </div>
	</li>
	<li class='product_img'>
	    <div class='thumbnail'>
		<%img = image_tag("amla-juice-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption'>Awala Juice</div>
	    </div>
	</li>

	<li class='product_img'>
	    <div class='thumbnail'>
		<%img = image_tag("amla-mava-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption'>Awala Mava</div>
	    </div>
	</li>

	<li class='product_img'>
	    <div class='thumbnail' >
		<%img = image_tag("awala-pachak-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption'>Awala Pachak</div>
	    </div>
	</li>

	<li class='product_img'>
	    <div class='thumbnail' >
		<%img = image_tag("awala-syrup-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption'>Awala Syrup</div> 
	    </div>
	</li>

	<li class='product_img'>
	    <div class='thumbnail' >
		<%img = image_tag("awala-syrup-with-ginger-lemon-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption'>Awala Syrup With Ginger Lemon</div> 
	    </div>
	</li>

	<li class='product_img'>
	    <div class='thumbnail'>
		<%img = image_tag("jamun-juice-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption'>Jamun Juice</div> 
	    </div>
	</li>

	<li class='product_img'>
	    <div class='thumbnail' >
		<%img = image_tag("kokam-juice-agal-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption'>Kokam Juice</div>
	    </div>
	</li>

	<li class='product_img'>
	    <div class='thumbnail'>
		<%img = image_tag("kokam-syrup-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption'>Kokam Syrup</div>
	    </div>
	</li>

	<li class='product_img'>
	    <div class='thumbnail'>
		<%img = image_tag("mango-papad-amba-poli-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption'>Mango Papad</div>
	    </div>
	</li> 
 </ul> 
</div>
