<div class='container'  style="background-color:#EEEFDD;padding:20px 0px;border:2px #FFF solid;">
	<h1 style='color:#947057;margin-left:45px;'>Our Products</h1>
	<p style='font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:14px;color:#007322;margin:20px 45px;'><strong>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our organization holds expertise in manufacturing and supplying Fruit Syrups, Juices and Mango Papad. Moreover, we process Awala Products, using quality tested ingredients. Our association with leading vendors enable us in procuring pure and fresh ingredients. Known for their freshness, nutritive value and flavour, our products are widely demanded by the customers based across various parts of the nation. Below described is the complete range that we offer.</strong>
	</p>
	
<div class="span11 agro_product" style='margin:15px 45px;background-color:#EEE;border:#FFF solid 3px;padding:10px 0px;'>
<h2 style='padding:10px 30px;'>Agro Products</h2>  

<p style='margin:5px 30px;font-size:14px;'>We are a noted name bringing forth Agro Products that are hygienically processed. These food products are made using ingredients like kokam, mango, sugar and more that are sourced from trusted vendors of the market. Moreover, we make use of latest fruit crushing & cutting, pulper and other machines that helps in minimizing the human efforts and production cost.</p>
<strong style='margin:8px 30px;font-size:14px;padding-bottom:10px;'>We offer following quality products under this category:</strong>
  
  <ul  class="thumbnails" style='margin:5px 0px;padding-top:10px;'>
  	<li class='span2'>
	    <div class='thumbnail'>
		<%img = image_tag("jamun-juice-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Jamun Juice</div> 
	    </div>
	</li>

	<li class='span2'>
	    <div class='thumbnail' >
		<%img = image_tag("kokam-juice-agal-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Kokam Juice</div>
	    </div>
	</li>

	<li class='span2'>
	    <div class='thumbnail'>
		<%img = image_tag("kokam-syrup-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Kokam Syrup</div>
	    </div>
	</li>

	<li class='span2'>
	    <div class='thumbnail'>
		<%img = image_tag("mango-papad-amba-poli-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Mango Papad</div>
	    </div>
	</li> 
  </ul>
</div>

<div class="span11 awala_product" style='margin:25px 45px;background-color:#EEE;border:#FFF solid 3px;padding:10px 0px;'>
<h2 style='padding:10px 30px;'>Awala Products</h2>  

<p style='margin:5px 30px;font-size:14px;'>We have in store a wide stock of Awala Products, processed by us. Pure and fresh amla, sugar and other such ingredients are used by us to carry out the processing process. Known for their excellent taste, freshness and purity, our products are widely appreciated in the market and consumed by a number of individuals.</p>
<strong style='margin:8px 30px;font-size:14px;padding-bottom:10px;'>We offer following quality products under this category:</strong>
  
  <ul  class="thumbnails" style='margin:5px 0px;padding-top:10px;'>
	<li class='span2'>
	    <div class='thumbnail'>
		<%img = image_tag("amla-candy-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Awala Candy</div>
	    </div>
	</li>
	<li class='span2'>
	    <div class='thumbnail'>
		<%img = image_tag("amla-juice-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Awala Juice</div>
	    </div>
	</li>

	<li class='span2'>
	    <div class='thumbnail'>
		<%img = image_tag("amla-mava-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Awala Mava</div>
	    </div>
	</li>

	<li class='span2'>
	    <div class='thumbnail' >
		<%img = image_tag("awala-pachak-250x250.jpg")%>
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Awala Pachak</div>
	    </div>
	</li>

	<li class='span2'>
	    <div class='thumbnail' >
		<%img = image_tag("awala-syrup-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption_thumb'>Awala Syrup</div> 
	    </div>
	</li>

	<li class='span2'>
	    <div class='thumbnail' >
		<%img = image_tag("awala-syrup-with-ginger-lemon-250x250.jpg")%> 
		<%= link_to img,'/'%>
		<div class='product_caption_thumb' style='font-size:12px;'>Awala Syrup With Ginger Lemon</div> 
	    </div>
	</li>
  </ul>
</div>
	
	
	
	
	
	
	
	<!--<a name='a1' class='product_show' style='text-decoration:none;'><div id='amlacandy' class='span10' style='margin:10px'>
		<div class='span4'>
			<%=img = image_tag("amla-candy-500x500.jpg")%>
		</div>
		<div class='span4'>
			<div>Kokam Syrup</div>
			<div>Available with us is Kokam Syrup that is processed at our in-house processing unit. We make use of fresh kokam and other essential ingredients in making this syrup. Clients can avail the syrup in packaging of varied quantities as per their requirement. Available at reasonable prices, it is widely availed by our customers. Moreover, this syrup has gained a wide usage in the food industry ,owing to the following attributes:
		 
		Premium taste
		Rich aroma
		Freshness
			</div>
		</div>
	</div></a>
	<a name='a2' class='product_show'><div id='amlacandy1' class='span10' style='margin:10px'>
		<div class='span4'>
			<%=img = image_tag("amla-candy-500x500.jpg")%>
		</div>
		<div class='span4'>
			<div>Kokam Syrup</div>
			<div>Available with us is Kokam Syrup that is processed at our in-house processing unit. We make use of fresh kokam and other essential ingredients in making this syrup. Clients can avail the syrup in packaging of varied quantities as per their requirement. Available at reasonable prices, it is widely availed by our customers. Moreover, this syrup has gained a wide usage in the food industry ,owing to the following attributes:
		 
		Premium taste
		Rich aroma
		Freshness
			</div>
		</div>
	</div></a>
	<a name='a3' class='product_show'><div id='amlacandy1' class='span10' style='margin:10px'>
		<div class='span4'>
			<%=img = image_tag("amla-candy-500x500.jpg")%>
		</div>
		<div class='span4'>
			<div>Kokam Syrup</div>
			<div>Available with us is Kokam Syrup that is processed at our in-house processing unit. We make use of fresh kokam and other essential ingredients in making this syrup. Clients can avail the syrup in packaging of varied quantities as per their requirement. Available at reasonable prices, it is widely availed by our customers. Moreover, this syrup has gained a wide usage in the food industry ,owing to the following attributes:
		 
		Premium taste
		Rich aroma
		Freshness
			</div>
		</div>
	</div></a> -->
</div>
